#pragma once

#include "Resources.h"


// Image files
IDB_PNG_TERRAIN PNG "resources/terrain.png"


// Main menu
IDR_MAIN_MENU MENU
BEGIN
    //POPUP "&File"
    //BEGIN
        MENUITEM "&Open RiskyLab Tilemap JSON File",    ID_FILE_OPEN
        MENUITEM SEPARATOR
        //MENUITEM "&Save RiskyLab Tilemap JSON File",    ID_FILE_SAVE_AS
        //MENUITEM SEPARATOR
        MENUITEM "&Open Map PNG File",                  ID_FILE_OPEN_MAP_PNG
        MENUITEM SEPARATOR
        MENUITEM "&Save Unit Movements",                ID_FILE_SAVE_AS_WALK_POSITIONS
        MENUITEM SEPARATOR
        MENUITEM "E&xit", ID_APP_EXIT
    //END
    //POPUP "&Help"
    //BEGIN
    //    MENUITEM "&About", ID_HELP_ABOUT
    //END
END